nav {
    width: 100%;
    color: #fff;
    /* margin-bottom: 50px; */
    background-color: rgb(56, 56, 56);
    background-image: url('../../images/navPic.png');
    background-repeat: no-repeat;
    background-position: right;
    /* height: 15%; */
    font-family: 'Bungee', cursive;
    padding-top: 2.5%;
  }
  
  a {
    color: powderblue;
    font-size: 20px;
  }
  
  a:hover {
    color: powderblue;
    text-decoration: none;
  }
  
  nav li {
    display: block;
    font-size: 20px;
  }
  
  ul {
    align-items: center;
  }

  @media (max-width: 600px) {
    nav{
      background-size: 50%;
      background-position-y: 100%;
    }
  }
  
  @media (max-width: 480px) {
    nav {
      display: block;
    }

    nav li  {
      font-size: 15px;
      padding-top: 20px;
    }
  }
