.wrapper {
    background: rgb(175, 29, 29);
    background-image: url('../../images/background.png');
    background-repeat: no-repeat;
    background-position-y: -100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
}